RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]

# Serve arquivos existentes
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Redireciona todo o resto
RewriteRule . index.php [L]
